version: "2"
services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: tarkov-build-optimiser-web
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - OPTIMISER_API_URL=${OPTIMISER_API_URL}
    ports:
      - "${PORT:-3000}:3000"
